@keyframes cat{
    0%{
        position:relative;
        bottom:100px;
    }
    10%{
        position:relative;
        bottom:110px;
    }
    20%{
        position:relative;
        bottom:120px;
    }
    30%{
        position:relative;
        bottom:130px;
    }
    40%{
        position:relative;
        bottom:140px;
    }
    50%{
        position:relative;
        bottom:150px;
    }
    60%{
        position:relative;
        bottom:140px;
    }
    70%{
        position:relative;
        bottom:130px;
    }
    80%{
        position:relative;
        bottom:120px;
    }
    90%{
        position:relative;
        bottom:110px;
    }
    100%{
        position:relative;
        bottom:100px;
    }
}

@keyframes cat2{
    0%{
        position:absolute;
        top:-30px;
    }
    10%{
        position:absolute;
        top:-40px;
    }
    20%{
        position:absolute;
        top:-50px;
    }
    30%{
        position:absolute;
        top:-60px;
    }
    40%{
        position:absolute;
        top:-70px;
    }
    50%{
        position:absolute;
        top:-80px;
    }
    60%{
        position:absolute;
        top:-70px;
    }
    70%{
        position:absolute;
        top:-60px;
    }
    80%{
        position:absolute;
        top:-50px;
    }
    90%{
        position:absolute;
        top:-40px;
    }
    100%{
        position:absolute;
        top:-30px;
    }
}